version: 2

docker_test_steps:  &docker_test_steps
  steps:
    - checkout
    - run:
        name: setup test images and run tests
        command: |
          docker build -t syntestimage:"$DIRNAME"-regular -f ./"$DIRNAME"/Dockerfile .
          docker run --rm syntestimage:"$DIRNAME"-regular python -m pip freeze
          printf "FROM syntestimage:"$DIRNAME"-regular\n\n" > test/Dockerfile_"$DIRNAME"
          cat test/Dockerfile >> test/Dockerfile_"$DIRNAME"
          docker build -t syntestimage:"$DIRNAME"-test -f test/Dockerfile_"$DIRNAME" ./test
          docker run --rm -e "DIRNAME=$DIRNAME" --network host -e "SYN_LOG_LEVEL=DEBUG" syntestimage:"$DIRNAME"-test 2>&1

jobs:

  test_311:
    machine:
      image: ubuntu-2204:current
    environment:
      DIRNAME: python311
    <<: *docker_test_steps

#  test_311_next:
#    machine:
#      image: ubuntu-2204:current
#    environment:
#      DIRNAME: python311_next
#    <<: *docker_test_steps

  test_313:
    machine:
      image: ubuntu-2204:current
    environment:
      DIRNAME: python313
    <<: *docker_test_steps

workflows:
  version: 2
  run_tests:
    jobs:
      - test_311
      - test_313
#      - test_311_next
