######################################################################
# All remaining dependencies are also pinned for image building and testing.
# This ensures that new python packages are not introduced into the base image
# without review.
#
# Packages should be marked and annotated which their upstream dependency when
# added here. This makes it easier to check for upstream dependencies when
# reviewing updates.
###################################
# aiohttp -> aiosignal
aiosignal==1.3.1
###################################
# stix2-patterns -> antlr4-python3-runtime
antlr4-python3-runtime==4.9.3
###################################
# stix2-validator -> appdirs
# requests-cache -> appdirs
appdirs==1.4.4
###################################
# isoduration -> arrow
arrow==1.2.3
###################################
# aiohttp -> async-timeout
async-timeout==4.0.3
###################################
# requests-cache -> attrs
# jsonschema -> attrs
# cattrs -> attrs
# aiohttp -> attrs
# aiohttp-socks -> attrs
# stix2-validator -> attrs ( listed as a dep, not used in code)
attrs==21.4.0
###################################
# requests-cache -> cattrs
cattrs==23.1.1
###################################
# requests -> certifi
certifi==2023.7.22
###################################
# cryptography -> cffi
cffi==1.15.1
###################################
# aiohttp -> charset-normalizer
# requests -> charset-normalizer
charset-normalizer==3.1.0
###################################
# stix2-validator -> colorama
colorama==0.4.6
###################################
# stix2-validator -> cpe
cpe==1.2.1
###################################
# pytest
execnet==1.9.0
###################################
# pytest
exceptiongroup==1.1.1
###################################
# jsonschema -> fqdn
fqdn==1.5.1
###################################
# aiohttp -> frozenlist
# aiosignal -> frozenlist
frozenlist==1.3.3
###################################
# beautifulsoup4 -> html5lib
html5lib==1.1
###################################
# jsonschema -> importlib-resources
importlib-resources==5.12.0
###################################
# pytest -> iniconfig
iniconfig==2.0.0
###################################
# jsonschema -> isoduration
isoduration==20.11.0
###################################
# jsonschema -> jsonpointer
jsonpointer==2.3
###################################
# stix2-validator -> jsonschema
jsonschema==4.17.3
###################################
# scalecodec -> more-itertools
more-itertools==9.1.0
###################################
# aiohttp -> multidict
# yarl -> multidict
multidict==6.0.4
###################################
# requests-cache -> platformdirs
platformdirs==3.5.3
###################################
# pytest -> pluggy
pluggy==1.0.0
###################################
# cffi -> pycparser
pycparser==2.21
###################################
# packaging -> pyparsing
pyparsing==3.0.9
###################################
# jsonschema -> pyrsistent
pyrsistent==0.19.3
###################################
# pytest
pytest-forked==1.6.0
###################################
# aiotthp-socks -> python-socks
python-socks==2.2.0
###################################
# stix2-validator -> requests
# scalecodec -> requests
# requests-cache -> requests
requests==2.31.0
###################################
# stix2-validator -> requests-cache
requests-cache==1.0.1
###################################
# jsonschema -> rfc3339-validator
rfc3339-validator==0.1.4
###################################
# jsonschema -> rfc3986-validator
rfc3986-validator==0.1.1
###################################
# stix2-validator -> simplejson
simplejson==3.19.2
###################################
# vcrpy -> six
# pyopenssl -> six
# python-dateutil -> six
# stix2-patterns -> six
# html5lib -> six
six==1.16.0
###################################
# beautifulsoup4 -> soupsieve
soupsieve==2.4.1
###################################
# stix2-validator -> stix2-patterns
stix2-patterns==2.0.0
###################################
# pip -> toml
toml==0.10.2
###################################
# pytest -> tomli
tomli==2.0.1
###################################
# uri-template
# stix2-validator -> jsonschema
uri-template==1.2.0
###################################
# requests-cache -> url-normalize
# six -> url-normalize
url-normalize==1.4.3
###################################
# requests -> urllib3
# requests-cache -> urllib3
urllib3==2.0.2
###################################
# prompt-toolkit -> wcwidth
wcwidth==0.2.6
###################################
# jsonschema -> webcolors
webcolors==1.13
###################################
# html5lib -> webencodings
webencodings==0.5.1
###################################
# vcrpy -> wrapt
wrapt==1.15.0
###################################
# vcrpy -> yarl
# aiohttp -> yarl
yarl==1.9.2
###################################
# importlib-resources -> zipp
zipp==3.15.0
