# Required packages for synapse
tornado==6.4
aiohttp==3.9.1
aiohttp-socks==0.8.4
aiosmtplib==3.0.1
pyOpenSSL==23.2.0
cryptography==41.0.7
msgpack==1.0.7
xxhash==3.4.1
lmdb==1.4.1
regex==2023.10.3
PyYAML==6.0.1
prompt-toolkit==3.0.43
Pygments==2.17.2
lark==1.1.9
packaging==23.2
fastjsonschema==2.19.1
stix2-validator==3.1.4
vcrpy==5.1.0
base58==2.1.1
python-bitcoinlib==0.12.2
typing-extensions==4.8.0
scalecodec==1.2.7
cbor2==5.5.1
bech32==1.2.0
aioimaplib==1.0.1
oauthlib==3.2.2
pycryptodome==3.19.1
idna==3.6
python-dateutil==2.8.2
pytz==2023.3.post1
beautifulsoup4==4.12.3
