# Required packages for synapse
tornado==6.4.2
aiohttp==3.11.16
aiohttp-socks==0.10.1
aiosmtplib==3.0.2
pyOpenSSL==24.2.1
cryptography==43.0.3
msgpack==1.1.0
xxhash==3.5.0
lmdb==1.6.2
regex==2024.11.6
PyYAML==6.0.2
prompt-toolkit==3.0.51
Pygments==2.19.
lark==1.2.2
packaging==24.2
fastjsonschema==2.21.1
stix2-validator==3.2.0
vcrpy==5.1.0
base58==2.1.1
python-bitcoinlib==0.12.2
typing-extensions==4.13.2
scalecodec==1.2.9
cbor2==5.6.5
bech32==1.2.0
aioimaplib==1.1.0
oauthlib==3.2.2
pycryptodome==3.22.0
idna==3.10
python-dateutil==2.9.0.post0
pytz==2023.3.post1
beautifulsoup4==4.13.4
orjson==3.10.16
