# These files are all related to dev/test work.
# Code style checks
pycodestyle==2.8.0
# Test related packages
coverage==6.2
codecov==2.1.12
pytest==7.1.2
pytest-cov==3.0.0
pytest-xdist==2.5.0
# Support packages for other users
wheel==0.37.1