# These files are all related to dev/test work.
# Code style checks
pycodestyle==2.12.1
# Test related packages
coverage==7.6.7
codecov==2.1.13
pytest==7.4.3
pytest-cov==6.0.0
# Support packages for other users
wheel==0.45.0